[client]
socket          = DEPLOYDIR/run/mysql.sock

[mysqld_safe]
socket          = DEPLOYDIR/run/mysql.sock
nice            = 0

[mysqld]
#
# * Basic Settings
#
user            = mysql
pid-file        = DEPLOYDIR/run/mysql.pid
socket          = DEPLOYDIR/run/mysql.sock
basedir         = /usr
datadir         = DEPLOYDIR/data
tmpdir          = DEPLOYDIR/tmp
language        = /usr/share/mysql/english
skip-external-locking
skip-networking

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M


[isamchk]
key_buffer              = 16M

[mysqld]
# General options
default-storage_engine = innodb

# connections
back_log = 500
max_connections = 800
max_connect_errors = 1844674407370954751
wait_timeout = 60
max_allowed_packet = 512M
key_buffer_size = 256M
myisam_recover = FORCE,BACKUP
myisam_repair_threads = 1
table_cache = 1000
thread_cache_size = 120
max_heap_table_size = 64M
tmp_table_size = 64M
group_concat_max_len = 65535
open_files_limit = 65535
table_definition_cache = 4096
table_open_cache = 10240 

# Connection timeouts
connect_timeout = 60
net_read_timeout = 60
net_write_timeout = 60

# Put temp files on the same partition as regular MySQL stuff
tmpdir = DEPLOYDIR/tmp


query_cache_type = 0
query_cache_size = 0


# Disable things
skip_name_resolve
skip-external-locking
innodb_support_xa = 0
skip-federated

# Can be removed after 5.0 is retired
query_cache_size = 0
large-pages
innodb_buffer_pool_size = 2G

### Buffer pool size defined per-host elsewhere

innodb_file_per_table = true
innodb_open_files = 1024
innodb_log_file_size = 2G
innodb_log_buffer_size = 64M
innodb_log_files_in_group = 2
innodb_log_group_home_dir = DEPLOYDIR/logs/innodb
innodb_data_file_path = ibdata1:10M:autoextend

### Thread Concurrency
# great improvements have been made in innodb concurrency.  
# this could be set to unlimited - the jury is still out on that.  in the mean time, the rule of thumb is 2x cpus
innodb_thread_concurrency = 48



### InnoDB Table Drop
# Added in Percona 5.5.10
# http://www.percona.com/docs/wiki/percona-server:features:misc_system_variables
innodb_lazy_drop_table = 1

### InnoDB Checksum
# Added by Percona
# http://www.percona.com/doc/percona-server/5.5/performance/innodb_fast_checksum.html
innodb_fast_checksum = 1

### InnoDB Log flushing
# http://dev.mysql.com/doc/refman/5.5/en/innodb-parameters.html#sysvar_innodb_flush_log_at_trx_commit
# Log buffer is written but not flushed on every commit
# Log is flushed every second
innodb_flush_log_at_trx_commit = 2

# Added in Percona 5.1.54
# http://www.percona.com/doc/percona-server/5.1/scalability/innodb_io.html
# Use O_DIRECT instead of ALL_O_DIRECT because we want to utilize the OS and raid cache for log files
innodb_flush_method = O_DIRECT




[mysqld]
innodb_io_capacity = 1000
innodb_write_io_threads = 16
innodb_read_io_threads = 16
innodb_buffer_pool_restore_at_startup = 300

expand_fast_index_creation = ON


#server_id = 1
relay-log=DEPLOYDIR/logs/relaylogs/mysqld-relay-bin
relay-log-index=DEPLOYDIR/logs/relaylogs/mysqld-relay-bin.index
slave-net-timeout = 30
log-slave-updates






# Added in Percona 5.5.19
# http://www.mysqlperformanceblog.com/2012/01/17/benchmarks-of-new-innodb_flush_neighbor_pages/
# Use cont for spinning disks, use none for ssds
innodb_flush_neighbor_pages = none


### Adaptive Flushing Method
# Use 'keep_average' for SSDs, use 'estimate' otherwise
innodb_adaptive_flushing_method = keep_average

### Change Buffer 
# disable for SSDs.  Leave enabled ( all ) for normal disks 
innodb_change_buffering=none

# utf8
#init_connect="SET collation_connection = utf8_unicode_ci; SET NAMES utf8;"
character_set_server = utf8
#collation_server = utf8_unicode_ci

#skip-syslog
log-slow-queries=DEPLOYDIR/logs/mysql-slow.log
long-query-time=2

log-error=DEPLOYDIR/logs/mysql-error.log
log_warnings = 2

[mysqld_safe]
skip-syslog
log-error=DEPLOYDIR/logs/mysql-error.log
